nav {
    position: fixed;
    top: -90px;
    transition: top 0.3s;
    border-radius: 15px;
    background-color: rgb(250 235 215 / 35%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
}

nav.show {
    top: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vh;
    text-decoration: none;
    list-style: none;
}

nav ul li{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(74, 74, 255);
    border: 2px solid #ffd700;
    box-shadow: 20%;
    margin: 1vw 2vw 1vw 2vw ;
}

nav ul li a{
    text-decoration: none;
    color: white;
}